$portlet-topper-bg: #F2F5FA;
$portlet-topper-border: #C5D4EC;
$portlet-topper-color: $brand-default;
$portlet-topper-link-color: $brand-default;
$portlet-topper-link-hover-color: $portlet-topper-link-color;

$portlet-content-border-radius: 0 0 2px 2px;
$portlet-topper-border-radius: 6px 6px 0 0;