/* 
    Document   : assan
    Author     : Design_mylife
    Description:assan Themes kit
    Version    : V2.3
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,300italic,400italic,600,700,900); 
@import "_mixins";
@import "_variables";
@import "_base.scss";
@import "_header.scss";
@import "_footers.scss";
@import "_rev-style.scss";
@import "font-awesome/css/font-awesome";

.cat-list {
	> li {
		padding: 5px 0;
		border-bottom: 1px solid #e5e5e5;

		a {
			color:#888;
			margin-right: 10px;

			&:hover{
				color:$skincolor;
			}
		}

		i {
			color:#888;
			margin-right: 10px;
			@include transition (all 0.3s ease-in-out);
		}

		&.active {
			> a {
				color: $skincolor;
			}

			ul {
				font-style: italic;
			}
		}

		&:hover i {
			margin-left: 5px;
		}
	}
}